body {
	min-height: 100%;
	height: auto;
}
#app {
	width: 100%;
}
// one solution to fix category multiselect being hidden (overflow of surrounding element)
.splitpanes__pane-details {
	// this works but is sketchy
	// overflow: visible !important;
	height: auto;
}
@media only screen and (max-width: 1024px) {
	// fix max height being unset in mobile view by server style
	.app-content-list {
		max-height: calc(100vh - 50px) !important;
	}
}
#projectid, #password {
	display: none;
}
#newBillButton {
	margin-top: 10px !important;
}
.balancePositive {
	color: green;
}
.balanceNegative {
	color: red;
}
.balance {
	float: right;
	font-weight: bold;
	height: 44px;
	line-height: 44px;
}
.memberAvatar img {
	width: 24px;
	height: auto;
	border-radius: 50%;
	margin: 10px 6px 10px 0px;
	cursor: pointer;
}
.memberAvatarDisabled .disabledMask {
	display: block;
}
.disabledMask {
	width: 26px;
	height: 26px;
	background-image: url('./images/forbidden.svg');
	position: absolute;
	top: 9px;
	left: 38px;
}
.memberAvatar {
	width: 26px;
	height: 44px;
}

.avatarTable {
	.owerAvatar {
		height: 24px;
		margin: 2px 5px 2px 5px;
	}
	.owerAvatarDisabled {
		margin-left: -21px;
	}
	.owerAvatar img {
		margin-bottom: 2px;
	}
	.owerAvatarDisabled .disabledMask {
		top: -1px;
	}
}
.owerAvatar {
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	.disabledMask {
		display: block;
		position: relative;
		top: -31px;
		left: -1px;
	}
}
.owerAvatarDisabled {
	margin-left: -26px;
}

input[type=number] {
	-moz-appearance: number-input !important;
	-webkit-appearance: initial !important;
}
.coloredTable {
	// max-width: 500px;
	display: block;
	margin: 20px 20px 20px 20px;
	border-spacing: 2px 2px;
	scrollbar-width: unset !important;
	scrollbar-color: var(--color-primary) var(--color-background-hover);

	th {
		font-weight: bold;
		text-align: center;
		border: 1px solid var(--color-border-dark);
		padding: 0px 5px 0px 5px;

		span {
			display: block;
			max-width: 100px;
			word-wrap: break-word;
			white-space: normal;
		}
	}
	td {
		text-align: right;
		padding-right: 2px;
	}
	td:first-child {
		text-align: left;
	}
}
.undoDeleteBill {
	display: none;
}
#app-settings-content button {
	padding: 10px;
	padding-left: 34px;
	background-position: 10px center;
	width: 100%;
	text-align: left;
}
.selectedbill {
	background-color: var(--color-background-dark) !important;
}
.app-navigation-entry-share {
	display: none;
}
.app-navigation-entry {
	padding-right: 0 !important;
}
.shareinput {
	width: 100%;
}
.icon-colorpicker {
	background-image: url('../img/color_picker.svg');
}
.loading-bill {
	margin-left: 10px;
	margin-right: 10px;
}
.activeButton {
	background: var(--color-background-darker);
}
.memberitem > a {
	opacity: 1 !important;
}
.autoexportSelect {
	width: 40%;
}
.autoexportLabel {
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.autoexportProject {
	display: flex !important;
	align-items: center !important;
}
a.billitem .app-content-list-item-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.exportStats span,
.exportSettlement span {
	min-height: 16px !important;
	min-width: 16px !important;
}
/* this is not applied if done in a vue component */
.memberColorPicker .trigger {
	height: 25px !important;
}
.fixed-icon {
	background-size: 60% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
/* dirty hack to make things right in settings sidebar */
.multiselect__content-wrapper {
	z-index: 10000 !important;
}

// fade transition
.fade {
	&-enter {
		opacity: 0;
	}
	&-enter-to {
		opacity: 1;
	}
	&-leave {
		opacity: 1;
	}
	&-leave-to {
		opacity: 0;
	}
	&-enter-active,
	&-leave-active {
		transition: all 150ms ease-in-out;
	}
}

.slide-right-leave-active,
.slide-right-enter-active {
	transition-duration: var(--animation-quick);
	transition-property: min-width, max-width;
}

.slide-right-enter-to,
.slide-right-leave {
	min-width: 300px;
	max-width: 500px;
}

.slide-right-enter,
.slide-right-leave-to {
	min-width: 0 !important;
	max-width: 0 !important;
}

.slide-down-leave-active,
.slide-down-enter-active {
	transition-duration: var(--animation-quick);
	transition-property: min-height, max-height;
}

.slide-down-enter-to,
.slide-down-leave {
	min-height: 300px;
	max-height: 500px;
}

.slide-down-enter,
.slide-down-leave-to {
	min-height: 0 !important;
	max-height: 0 !important;
}

.icon-activity {
	background-image: url('../img/activity-dark.svg');
	background-size: 20px;
}

body.theme--dark .icon-activity {
	background-image: url('../img/activity.svg');
}
