#app {
    width: 100%;
}
@media only screen and (min-width:768px) {
    #bill-list {
        max-width: 400px;
    }
}
#newBillButton {
    margin-top: 10px !important;
}
.balancePositive {
    color: green;
}
.balanceNegative {
    color: red;
}
.balance {
    float: right;
}
#newmemberdiv,
#newprojectdiv {
    display: none;
}
#newmemberdiv label,
#newprojectdiv label {
    margin: 3px 3px 3px 3px;
    line-height: 32px;
    width: 45%;
    text-align: right;
    float: left;
}
#newmemberdiv input,
#newprojectdiv input {
    width: 45%;
    float: right;
}
.newmemberdiv {
    display: none;
}
b.memberName, b.memberWeight, .balance {
    font-weight: normal;
}

.bill-left select,
.bill-left input {
    margin: 0 12px 0 12px;
    width: 100%;
}
.bill-form a.icon {
    justify-content: space-between;
    line-height: 44px;
    min-height: 44px;
    padding: 0 12px 0 44px;
}
.bill-left {
    float: left;
    width: 45%;
}
.bill-right {
    float: right;
    width: 45%;
}
.bill-owers input {
    height: 18px;
    min-height: 18px;
}
.owerAllNoneDiv,
.owerEntry {
    margin-left: 56px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.owerEntry input {
    cursor: pointer;
}
.bill-title {
    text-align: center;
    color: white;
}
input[type=number] {
    -moz-appearance: number-input !important;
    -webkit-appearance: initial !important;
}
